$primaryColor: darkcyan;
$secondaryColor: grey;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

html {
  font-family: generalFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: headerFont;
  text-align: center;
}

img {
  height: 300px;
}

// .col {

// }

// .col-1 {

// }

// .col-2 {

// }

// .col-3 {
//   b
// }

// .col-4 {

// }

// .col-5 {

// }

// .col-6 {

// }

// .col-7 {

// }

// .col-8 {

// }

// .col-9 {

// }

// .col-10 {

// }

// .col-11 {

// }

// .col-12 {

// }
