/* ---- стили на все страницы ---- */

html {
    box-sizing: border-box;
    font-family: generalFont;
    font-size: 20px;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

h1,
h2,
h3 {
    font-family: headerFont;
    text-transform: uppercase;
    text-align: center;
    color: #253238;
}

ol,
ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}


/* стандартные отступы bootstrap в строках */

.row-top-header {
    --bs-gutter-x: 0;
}


/* ---- стили для шапки ---- */

.about a,
.news a,
.container-footer a {
    text-decoration: none;
    color: #253238;
}

.about h3 {
    text-align: left;
}

.logo-top>a>img,
.logo-top-navbar>a>img {
    height: 30px;
}

.news-links {
    display: flex;
    justify-content: space-between;
}

.row-top-header {
    display: flex;
    justify-content: space-between;
}


/* ------------- форма поиска ------------ */

input[type='text'] {
    border: 2px solid #617e8c;
    outline: none;
    height: 30px;
    width: 100%;
    color: #253238;
    font-size: 16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search {
    display: flex;
    background-color: #617e8c;
    border-radius: 3px;
}

.fa-search {
    color: #ffffff;
    position: relative;
    top: 7px;
    margin-right: 5px;
    margin-left: 8px;
    font-size: 16px;
}

.menu-links>a {
    color: #253238;
    text-decoration: none;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: headerFont;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    color: #253238;
    position: relative;
    top: 3px;
}

.menu-links>a:last-child {
    padding-right: 0px;
}

.top-header-menu-logo.row {
    margin-bottom: 10px;
}

.fa-envelope-open-text,
.fa-mobile-alt,
.fa-map-marker-alt,
.fa-phone-volume {
    font-size: 20px;
    color: #617e8c;
}

.fa-whatsapp {
    color: #008000;
}

.top-header-contacts {
    display: flex;
    flex-direction: column;
    color: #253238;
}

.tel>a,
.mail>a,
.footer-location a,
.footer-tel a,
.footer-mail a {
    color: #253238;
    font-family: headerFont;
    text-decoration: none;
}

.top-header-contacts {
    list-style: none;
}

.tel-content,
.mail-content {
    padding-left: 10px;
}

.tel {
    padding-bottom: 15px;
}

.soc-icons>i>a {
    z-index: 3;
}

.container-about h3 {
    text-align: left;
}

.container-about a:hover {
    color: #617e8c;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}

.ticker {
    background-color: #617e8c;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #fff;
}

marquee {
    line-height: 38px;
}

.container-slider {
    margin-bottom: 40px;
}

.carousel-item {
    position: relative;
}

.carousel-item>p {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.slide-content {
    text-align: center;
    text-shadow: #000 1px 1px;
    color: #000;
    font-size: 42px;
    letter-spacing: 0.1em;
    font-style: italic;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 10px;
    padding: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

.container-slider img {
    height: 400px;
    width: 100%;
}

.product>h3 {
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* --- page about О компании ---- */

.about h2 {
    padding-bottom: 0px;
}

.new {
    height: 165px;
    max-width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 10px;
}

.new:last-child {
    margin-right: 0px;
}

.heading-news {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.header {
    margin-top: 30px;
}

.container-documents {
    margin-bottom: 40px;
}

.doc {
    padding-right: 10px;
}

.doc:last-child {
    padding-right: 0px;
}

.container-partners {
    margin-bottom: 30px;
}

.container-gallery {
    padding-bottom: 30px;
}

.partner img {
    height: 100px;
    width: 100%;
    transition: transform 0.5s;
}

.partner:hover img {
    transform: scale(2);
}

.row-docs a {
    height: 440px;
}

.row-docs img {
    height: 440px;
    width: 100%;
}

.photo-item img {
    height: 200px;
    width: 100%;
}

a.photo-item {
    height: 200px;
    width: 25%;
    margin-bottom: 15px;
}

.container-products {
    margin-bottom: 20px;
}

.container-products>.row>h1 {
    margin-bottom: 20px;
}

.product {
    height: 220px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}


/* блок product, как ссылка */

.product>a {
    z-index: 1;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/* позиционирование заголовка посередине карточки */

.product>h3 {
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.row-photo-items a {
    display: block;
}

.product img {
    height: 100%;
    width: 100%;
}

.product::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.product:hover {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.sun a {
    width: 100%;
    height: 100%;
}

.col-right-footer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-center-footer {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ---- калькуляторы ---- */

.fa-calculator {
    font-size: 20px;
    color: #fff;
}

.top-calc {
    font-size: 16px;
    padding-left: 10px;
}

.top-header-calc {
    width: 200px;
    background-color: #617E8C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.top-header-calc.navbar-calc {
    padding: 20px;
}

.top-header-calc:hover {
    background-color: #455B66;
    transition: all 0.5s ease-out;
}

.btn-calc a,
.btn-calc-footer a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-calc-footer {
    width: 390px;
    height: 90px;
    background-color: #617e8c;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    margin-top: 10px;
}

.btn-calc-footer>a {
    line-height: 1.5;
    font-size: 20px;
}

.btn-calc-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu-links-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-links-footer a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: headerFont;
}

.soc-icons {
    display: flex;
    justify-content: space-between;
}

.row-footer {
    display: flex;
    justify-content: space-between;
}

.logo-footer img {
    position: relative;
    bottom: 10px;
    width: 100%;
}

.col-left-footer {
    margin-right: 10px;
}

.footer-contacts {
    position: relative;
    top: 15px;
}

.footer-location,
.footer-tel,
.footer-mail {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.fa-instagram-square,
.fa-youtube-square,
.fa-vk,
.fa-facebook-square {
    font-size: 64px;
    color: #617e8c;
}

.sun img {
    display: block;
    width: 390px;
    height: 90px;
}


/*--- copyright ----*/

.row-copyright {
    text-align: center;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* ---- новости на главной ---- */

.news {
    position: relative;
}

.container-news {
    margin-bottom: 40px;
}

.container-news h2 {
    margin-bottom: 20px;
}

.heading-news {
    position: absolute;
    top: 0px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    z-index: 3;
}

.news-more {
    position: absolute;
    width: 100%;
    padding: 0 30px 15px 15px;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.news>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.news img {
    height: 165px;
    width: 100%;
    object-fit: none;
}

.news::after {
    content: '';
    width: 91%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.date-news,
.link-more {
    color: #ffffff;
    font-size: 16px;
    z-index: 5;
}

.link-more {
    padding-right: 12px;
}

.news a {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.news .link-more a:hover {
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}

.news:hover {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}


/* page catalog */

.breadcrumb-item a,
.breadcrumb-item {
    text-decoration: none;
    color: #455B66;
    text-transform: uppercase;
}

.breadcrumb-item.active {
    color: #253238;
}

.breadcrumb li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.row-catalog li::before,
.container-helper-items li::before {
    content: '';
    display: inline-block;
    border-top: 5px solid transparent;
    border-left: 10px solid #455b66;
    border-bottom: 5px solid transparent;
    margin-right: 10px;
    margin-bottom: 2px;
}

.row-catalog li {
    text-transform: lowercase;
    line-height: 1.5;
}

.row-catalog li a,
.row-catalog h2 a {
    color: inherit;
}

.row-catalog li a:hover,
.row-catalog h2 a:hover {
    text-decoration: underline;
}

.row-catalog h2 {
    margin-top: 20px;
}

.row-catalog:last-child:last-child {
    margin-bottom: 40px;
}


/* page helper справочник */

.left-dropmenu li {
    width: 310px;
    height: 60px;
    background-color: #90a4af;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;
    line-height: 60px;
    color: #fff;
}

.left-dropmenu li:hover {
    color: #000;
    transition: all 0.5s ease-in-out;
}

.left-dropmenu li a:hover {
    color: inherit;
}

.left-dropmenu li:last-child {
    line-height: 1.5;
}

.left-dropmenu li:nth-last-child(2) {
    line-height: 1.5;
}

.left-dropmenu-items li {
    width: 270px;
    height: 40px;
    background-color: #B0BFC6;
    text-transform: lowercase;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 12px;
    line-height: 36px;
    color: #000;
    margin-left: 40px;
}

.left-dropmenu-items li:hover {
    transition: all 0.5s ease-in-out;
}

.left-dropmenu-items li:last-child {
    margin-bottom: 10px;
}

.col-heading-helper-empty {
    padding: 0px;
    margin: 0px;
}

.container-helper {
    display: flex;
    margin-bottom: 40px;
    margin-top: 10px;
}

.col-heading-helper>h1 {
    margin-bottom: 20px;
}

.row.row-helper-items1,
.row.row-helper-items2 {
    margin-bottom: 20px;
}

.row.row-helper-items1 li a,
.row.row-helper-items2 li a {
    color: inherit;
}

.row.row-helper-items1 li a:hover,
.row.row-helper-items2 li a:hover {
    text-decoration: underline;
}

.container.container-helper-items {
    margin-left: 30px;
}


/* ---- шаблон новости ---- */

.row-heading-news-sample h2 {
    text-align: left;
}

.row-more-news-sample a {
    text-decoration: none;
    color: #455B66;
}

.row-more-news-sample a:hover {
    color: #253238;
    transition: all 0.5s ease-in-out;
}


/* page news */

.row-banner div img {
    width: 100%;
    max-height: 500px;
    padding: 0px;
}

.container-page-news {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.row-heading-news img {
    height: 100px;
    width: 100%;
}

.row-heading-news {
    position: relative;
}

.row-heading-news h1 {
    position: absolute;
    color: #fff;
    height: 100px;
    width: 100%;
    line-height: 100px;
}


/* ---- aboutCategory ---- */

.row-heading-aboutCategory img {
    height: 100px;
    width: 100%;
}

.row-heading-aboutCategory {
    position: relative;
    margin-bottom: 30px;
}

.row-heading-aboutCategory h1 {
    position: absolute;
    color: #fff;
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.row-heading-content-news div h2 {
    margin-top: 10px;
}

.aboutCategory .row-news h3 {
    text-align: left;
}

.row-banner img {
    height: 50vh;
    width: 100%;
}


/* page product */

.container-product-all {
    display: flex;
    margin-bottom: 40px;
}

.row-heading-product img {
    height: 100px;
    width: 100%;
}

.row-heading-product {
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.row-heading-product h1 {
    position: absolute;
    color: #fff;
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.row-product-content img {
    width: 100%;
    max-height: 500px;
}

.large-text {
    font-size: 24px;
}

.product-text {
    margin-top: 20px;
}

.stock-cost {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}


/* contacts */

.container-map {
    margin-bottom: 20px;
}

.container-page-contacts {
    margin-bottom: 40px;
}

.btn-primary {
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #617e8c;
    border: solid 2px #617e8c;
}

.form-control {
    border-radius: 3px;
    border: solid 2px #617e8c;
}

.form-control:focus,
.btn-primary:focus {
    box-shadow: none;
    border-color: #455b66;
}

.btn-primary:hover {
    background-color: #455b66;
    border-color: #455b66;
    transition: all 0.5s ease-in-out;
}

.about-form {
    text-align: center;
}

label {
    font-size: 14px;
}

.checkbox {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.checkbox input {
    position: relative;
    top: 1px;
}

.policy-link {
    text-decoration: underline;
}

.policy-link a:hover {
    color: inherit;
}

.col-contacts {
    text-align: center;
    line-height: 1.5;
}

.telefons {
    margin-top: 30px;
}

.telefons a:hover {
    color: inherit;
}

.telefons a span:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.timework {
    margin-top: 30px;
}


/* productCategory */

.row-heading-productCategory img {
    height: 100px;
    width: 100%;
}

.row-heading-productCategory {
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}

.row-heading-productCategory h1 {
    position: absolute;
    color: #fff;
    height: 100px;
    width: 100%;
    line-height: 100px;
}

.container-productCategory {
    margin-bottom: 40px;
}

.row-heading-textAboutCompany h3 {
    text-align: left;
}

.row-bottom-pagination {
    margin-bottom: 40px;
}

span.warn {
    color: red;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-heading-textAboutCompany img {
    height: 50vh;
    width: 100%;
}

.row-textAboutCompany-2 h3 {
    text-align: left;
    margin-top: 30px;
}

.all-products-pages {
    display: flex;
    justify-content: space-between;
}

.row-price-heading .price-item-name {
    text-align: center;
}

.price-item-img img {
    height: 100%;
    width: 100%;
}

.row-price-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.row-price-heading>div {
    text-align: center;
}


/* ---- гамбургер ---- */

.navbar {
    z-index: 10;
}

.logo-top-navbar {
    padding-top: 12px;
}

.container-navbar {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 74px;
    background: #617e8c;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.navbar {
    margin-bottom: 20px;
}


/* ---- адаптив ---- */


/* Настройки под 3 разрешения:

иногда до 575
1) до 767
2) до 991
3) до 1200
иногда от 1200 и выше

(-sm-) (-md-) (-lg-)

То, что я использую:
1) до 767px 
@media (max-width: 768px) {  ... }

2) от 768px до 991px
@media (min-width: 768px) {  ... }

3) до 991px
@media (max-width: 991px) {  ... }

4) от 992px и выше (-lg-)
@media (min-width: 992px) {  ... } */


/* ---- media ---- */


/* исчезновение нескольких блоков и появление 
гамбургера мобильного меню при разрешении 992px 
и меньше, переход на мобильную версию */

@media (max-width: 991px) {
    .container-slider,
    .container-gallery,
    .container-partners,
    .container-documents {
        display: none;
    }
    .container-products {
        margin-top: 100px;
    }
    .container-map {
        margin-top: 50px;
    }
    .header {
        display: none;
    }
}


/* исчезновение гамбургера мобильного меню 
при разрешении 992px и больше, переход 
на десктопную версию */

@media (min-width: 992px) {
    .navbar {
        display: none;
    }
    .logo-top img {
        width: 150px;
    }
    .menu-links {
        font-size: 16px;
        top: 8px;
    }
}


/* стили мобильного меню 
при размерах экрана до 991px */

@media (max-width: 991px) {
    .navbar__wrap .menu {
        display: none;
    }
    .hamb {
        display: flex;
        align-items: center;
    }
    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        background-color: #fff;
        transition: 0.2s;
    }
    .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 50%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }
    .popup.open {
        left: 0;
    }
    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;
        overflow: auto;
    }
    .popup .menu>li {
        width: 100%;
    }
    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: 400;
        color: #253238;
        text-transform: uppercase;
    }
    #menu .mail a {
        text-transform: none;
    }
    #menu .tel {
        margin-top: 20px;
    }
    #menu .mail {
        margin-bottom: 40px;
    }
    .popup .menu>li>a:hover {
        transition: all 0.3s ease-in-out;
        background-color: #617e8c;
        color: #fff;
    }
    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    body.noscroll {
        overflow: hidden;
    }
}


/* костыль для нормального расположения 
темной подложки под изображением*/

@media (min-width: 0px) {
    .news::after {
        width: 95%;
    }
}

@media (min-width: 576px) {
    .news::after {
        width: 89%;
    }
}

@media (min-width: 768px) {
    .news::after {
        width: 92%;
    }
}

@media (min-width: 992px) {
    .news::after {
        width: 88%;
    }
}

@media (min-width: 1200px) {
    .news::after {
        width: 89%;
    }
}

@media (min-width: 1400px) {
    .news::after {
        width: 91%;
    }
}


/* от 0px xs */

@media (min-width: 0px) {}


/* от 576px sm */

@media (min-width: 576px) {}

@media (max-width: 991px) {
    .col-contacts {
        font-size: 14px;
        line-height: 1.2;
    }
}


/* до 991px - md */

@media (max-width: 991px) {
    .btn-calc-footer,
    .sun img {
        width: 100%;
    }
    .footer-contacts {
        margin: 0px;
    }
    .footer-location,
    .footer-tel,
    .footer-mail {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .btn-calc-footer,
    .sun img {
        width: 100%;
    }
    .news {
        margin-bottom: 10px;
    }
    .row-docs a {
        margin-bottom: 20px;
    }
    .row-footer {
        flex-direction: column;
    }
    .row-copyright {
        padding: 0px;
        margin-top: 10px;
    }
    .sun {
        margin-top: 10px;
        margin-right: 5px;
        width: 50%;
    }
    .btn-calc-footer {
        margin-top: 10px;
        margin-left: 5px;
        width: 50%;
    }
    .serch-bottom {
        margin-top: 30px;
    }
    .col-right-footer {
        align-items: center;
        flex-direction: row;
    }
    .logo-footer {
        text-align: center;
    }
    .footer-contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-contacts .footer-tel {
        margin-left: 20px;
        margin-right: 20px;
    }
}


/* от 992px - lg */

@media (min-width: 992px) {
    .btn-calc-footer,
    .sun img {
        width: 270px;
    }
    .menu-links-footer {
        font-size: 16px;
    }
}


/* от 1200px - xl */

@media (min-width: 1200px) {
    .btn-calc-footer,
    .sun img {
        width: 200px;
    }
    .btn-calc-footer,
    .sun img {
        width: 325px;
    }
    .col-right-footer {
        margin-left: 15px;
    }
}


/* от 1400px - xl */

@media (min-width: 1400px) {
    .btn-calc-footer,
    .sun img {
        width: 390px;
    }
}