/* ---- стили на все страницы ---- */


/* menuFilter 
popupFilter
modalBtnFilter */


/* ------------- модальное окно ------------ */

.navbar-container {
    margin: 0 auto;
    height: 100%;
}

.navbar {
    z-index: 10;
    height: 50px;
    background: #617e8c;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.modalBtnFilter {
    display: none;
}

.popupFilter {
    display: none;
}


/* исчезновение гамбургера мобильного меню 
при разрешении 992px и больше, переход 
на десктопную версию */

@media (min-width: 992px) {
    .navbar {
        display: none;
    }
    .menuFilter-links {
        font-size: 16px;
        top: 8px;
    }
}


/* стили мобильного меню 
при размерах экрана до 991px */

@media (max-width: 991px) {
    .navbar__wrap .menuFilter {
        display: none;
    }
    .modalBtnFilter {
        display: flex;
        align-items: center;
    }
    .modalBtnFilter__field {
        padding: 10px 20px;
        cursor: pointer;
    }
    .btn-filter {
        color: #fff;
    }
    .popupFilter {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 9;
        display: flex;
        transition: 0.3s;
    }
    .popupFilter.open {
        left: 0;
    }
    .popupFilter .menuFilter {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}


/* стили фильтров */

.mse2_number_inputs label {
    margin-right: 10px;
}

.col-filtermenu>form {
    padding-right: 20px;
    border-right: solid 2px lightgrey;
}

fieldset.disabled_fieldsets {
    margin-top: 40px;
    margin-bottom: 40px;
}

h4.filter_title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

input.filter-price {
    text-align: center;
    font-size: 18px;
}

label.filter-price {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.filter-checkbox {
    font-size: 18px;
}

input.filter-checkbox {
    transform: scale(1.1);
}

button[type='reset'] {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #617e8c;
}

button[type='reset']:hover {
    background-color: #455b66;
    color: #fff;
}

.container-productCategory>.row {
    margin-bottom: 20px;
}


/* блок для фильтров */

.col-filtermenu {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}